/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 36px 36px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 36px 36px);
}

.Sheet-bl
{
	clip: rect(36px 36px auto auto);
}

.Sheet-br
{
	clip: rect(36px auto auto 36px);
}

.Sheet-tc
{
	clip: rect(auto auto 36px auto);
}

.Sheet-bc
{
	clip: rect(36px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 36px);
}

.Sheet-cl
{
	clip: rect(auto 36px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 990px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 412px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 9px 9px auto);
}

.Block-tr
{
	clip: rect(auto auto 9px 9px);
}

.Block-bl
{
	clip: rect(9px 9px auto auto);
}

.Block-br
{
	clip: rect(9px auto auto 9px);
}

.Block-tc
{
	clip: rect(auto auto 9px auto);
}

.Block-bc
{
	clip: rect(9px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 9px);
}

.Block-cl
{
	clip: rect(auto 9px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 983px);
}
/* end BlockHeader */

/* begin Box, Post */
.Post-tl
{
	clip: rect(auto 13px 13px auto);
}

.Post-tr
{
	clip: rect(auto auto 13px 13px);
}

.Post-bl
{
	clip: rect(13px 13px auto auto);
}

.Post-br
{
	clip: rect(13px auto auto 13px);
}

.Post-tc
{
	clip: rect(auto auto 13px auto);
}

.Post-bc
{
	clip: rect(13px auto auto auto);
}

.Post-cr
{
	clip: rect(auto auto auto 13px);
}

.Post-cl
{
	clip: rect(auto 13px auto auto);
}
/* end Box, Post */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 407px);
}
/* end Button */

